.bigdiv {
	position: absolute;
	left: 50%;
	margin-left: -441px;
	width: 882px;
	top: 50%;
	margin-top: -380px;
	height: 720px;
	z-index:2;
}
	/*========ROWS========*/
	.bigdiv .rowdiv {
		width: 882px;
		
	}
	.bigdiv #topdiv, #botdiv {
		height: 43px;
		/*background-color: #707070;*/
	}
	.bigdiv #middiv {
		height: 720px;
	}
	/*===================*/
	/*====COLS-GENERAL===*/
	.rowdiv .rightdiv {
		float: right;
	}
	.rowdiv .leftdiv {
		float: right;
	}
	.rowdiv .centerdiv {
		float: right;
	}
	/*========MID=========*/
	 #midleftdiv {
		width: 37px;
		height: 720px;		
	}
	#midrightdiv {
		width: 42px;
		height: 720px;
	}
	#midcenterdiv {
		width: 800px;
		height: 720px;
		/*background-color: #f6e9bc;*/
		background:  url(../img/pat2.png) repeat;
	}
	/*====================*/

/* TEST */

#topdiv {
	background:  url(../img/borders/topprofile.png) top no-repeat;
	margin-left: -1px;
}
#botdiv {
	background:  url(../img/borders/botprofile.png) top no-repeat;
	margin-left: -1px;
}

#midrightdiv {
		background:  url(../img/borders/right.png) left repeat-y;
}
#midleftdiv {
		background:  url(../img/borders/left.png) left repeat-y;
}

