/*----------------------------------------------*/
/*--------------------CSS-----------------------*/
/*----------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h2 {
	font-family: "OpenSansRegular", Arial;
	font-size: 16pt;
}

body {
	line-height: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	background: white;
	color: #000;
	font-family: "OpenSansBold", "OpenSansRegular", Arial;
}
.ie7 body{
	overflow:hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #996515;
	text-decoration: none;
}
/*----------------------------------------------*/
/*------------------FONTS-----------------------*/
@font-face {
    font-family: "Scriptina";
    src:  url(../css/fonts/SCRIPTIN.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSansRegular";
    src:  url(../css/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSansBold";
    src:  url(../css/fonts/OpenSans-Bold.ttf) format("truetype");
}

/*----------------------------------------------*/
/*------------------CONTAINER-------------------*/
.container{
	margin:0px auto;
	width: 1000px;
	height: auto;
	overflow: hidden;
	background-color: rgba(255,255,255,0.9);
	padding-left: 50px;
	padding-right: 50px;
}
.sub-menu-container {
	width: auto;
	height: 100px;
}
/*----------------------------------------------*/
/*------------------MENU------------------------*/
.menu{
	z-index:5;
	height: 100px;
	margin-bottom: 5px;
	margin-top: 10px;
	position: relative;
}
div .menu-div{
	 font-size: 9px;
}

.menu-anim {	
    position: relative;
   	/*margin: 0px auto;*/
   	border-bottom: 1px solid rgba(0,0,0,0.9);
	padding-top: 8px;
    height: 100px;
    width: 1000px;
    overflow: hidden;
        }
                .menu-anim li {
                    float: right;
                    list-style: none;
                    top:50%;
                    margin-top: 50px;
                }
                .menu-anim #asanti {
                    float: left;
                    list-style: none;
                    background: url(../img/forkids2.png) no-repeat;
                    width: 250px;
					height: 100px;
					top:0%;
                    margin-top: 0px;
                }
                
                    .menu-anim li.back {
						border-bottom: 4px solid rgba(0,0,0,0.5);
                        width: 6px;
                        height: 104px;
                        z-index: 8;
                        position: absolute;
                        top:0%;
                    	margin-top: 0px;
                    }
                    
                    .menu-anim li a {
                        /*font: 13px Tahoma, Geneva, sans-serif;*/
                        /*font-weight: bold;*/
                        text-decoration: none;
                        color: #000;
                        text-align: center;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 35px;
                        padding-right: 35px;
                        position: relative;
                        overflow: hidden;
                        width: inherit;
                    }
                     .menu-anim li a:visited {
                       	border: none;
                    }
                    .menu-anim a:active {
                    	border: none;
                    }
                    
                    .menu-anim  a:hover{                 	
                    	border: none;
                    }
/*----------------------------------------------*/

/*------------------SUBMENU---------------------*/
.sub-menu{
	z-index:2;
	/*width: 610px;*/
	height: 50px;
	/*margin-top: 8px;*/
	float:right;
	display:none;
}


.gender-picker{
	z-index:2;
	height: 30px;
	margin-top: 50px;
}
	.gender-picker img, .genderp{
		float: right;
		margin: 0 5px 0 5px;
		font-size: 10pt;
	}
	.gender-picker .genderp {
		margin-top: 3px;
	}
	.gender-picker img {
		width:21px;
		height:21px;
	}
	
	.gender-picker .gdiv{
	height: 23px;
	float:right;
	cursor: pointer;
	margin-left:15px;
	}

div .menu-div{
	 /*font-family: 'Arial Narrow', Arial, sans-serif;*/
	 font-size: 9px;
}


.sub-menu-anim {	
    position: relative;
   	/*margin: 0px auto;*/
   	border-bottom: 1px solid rgba(0,0,0,0.9);
    height: 30px;
    /*width: 600px;*/
    float:right;
    overflow: hidden;
        }
                .sub-menu-anim li {
                    float: right;
                    list-style: none;
                }
                
                    .sub-menu-anim li.back {
						border-bottom: 2px solid rgba(0,0,0,0.5);
                        width: 6px;
                        height: 28px;
                        z-index: 8;
                        position: absolute;
                        top:0%;
                    	margin-top: 0px;
                    }
                    
                    .sub-menu-anim li a {
                        /*font: 13px Tahoma, Geneva, sans-serif;*/
                        /*font-weight: bold;*/
                        text-decoration: none;
                        color: #000;
                        text-align: center;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 15px;
                        padding-right: 15px;
                        position: relative;
                        overflow: hidden;
                        width: inherit;
                    }
                     .sub-menu-anim li a:visited {
                       	border: none;
                    }
                    .sub-menu-anim a:active {
                    	border: none;
                    }
                    
                    .sub-menu-anim  a:hover{                 	
                    	border: none;
                    }
/*----------------------------------------------*/
/*-----------------PANEL------------------------*/
div .panel-div {
	margin-top: 10px;
	width: auto;
	height: 25px;
}
div .panel-div > #profile {
		float: right;
		margin-top: 3px;
		font-size: 10pt;
}
div .panel-div > #profile-icon {
		float: right;
		width:20px;
		height:20px;
		background: url(../img/profile-full2.png) no-repeat center;
}
	/*div .panel-div > #profile-icon:hover {
		background: url(../img/profile-full2.png) no-repeat center;
	}*/
	
#profile p {
	float: left;
	/*color: #2d2d2d;*/
}
#profile .p-profile {
	cursor: pointer;
}

/*----------------------------------------------*/
/*-----------------PRODUCTS---------------------*/
.products {
	/*border-left: 1px solid black;
	border-right: 1px solid black;
	min-height: 800px;
	min-width: 1000px;*/
	overflow: auto;
}
.imageContainer {
	width:	220px;
	height: 300px;
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
}

.product-info{
	width:	200px;
	height: 400px;
	display: block;
	float: left;
	margin-left: 35px;
}
.productImage {
	position: absolute; 
	max-width: 220px;
	max-height: 300px;
}
.imageOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(153,101,21,0.4);
	z-index: 10;
	display: none;
	position: absolute;
}
.product-price , .product-name {
	margin-top: 15px;
	margin-bottom: 10px;
} 
.product-info p{
	font-size: 15px;
}
div .eye {
	height: 250px;
	background: url(../img/spyglass.png) no-repeat center;
	opacity: 0.5;
	
}
	div .eye:hover {
		opacity: 0.8;
		
	}

div .cart {
	float: right;
	margin-right: 5px;
	height: 50px;
	width: 50px;	
	background: url(../img/cart.png) no-repeat right;
	opacity: 0.5;
}
	div .cart:hover {
		opacity: 1;
		cursor: pointer;
	}

div .panel-div > #cart {
		background: url(../img/cart-big-dark.png) no-repeat center;
		width: 40px;
		height: 40px;
		float: left;

}
div .cart-div {
	height: 40px;
	/*margin-top: 10px;*/
	float: left;
	cursor: pointer;
}
	div .cart-div:hover {
		border-bottom: 1px solid black;
	}

.cart-div .cart-desc {
	float: left;
	font-size: 10pt;
	top: 50%;
	margin-top: 15px;
	color: #2d2d2d;
}
.cart-div .cart-image{
	float: left;
	width: 40px;
	height: 40px;
}

.cart-div .item-count {
	float: left;
	top: 50%;
	font-size: 11pt;
	margin-top: 15px;
	margin-left: -5px;
	color: 	;

}
	

/*----------------------------------------------*/




/* ITEMKSY ------------------------------------- */

#itemContainer {
	margin-top: 50px;
}

#itemPhotoContainer {
	width: 510px;
	float: left;
}

#itemBigPhoto {
	width: 510px;
	height: 500px;
	/*background-color: rgba(0,0,0,0.3);*/
	text-align: center;
}

#itemBigPhotoImage {
	max-width: 500px;
	max-height: 500px;
	vertical-align: middle;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.photoThumbnails {
	/*position: absolute;*/
	margin-top: 30px;	
	margin-left: 8px;
}

ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 500px;
}

.frame {
	position: absolute;
	margin-top: 100px;
	width: 106px;
	height: 106px;
	text-align: center; 
	margin: 0px;
	/*background-color: Red;*/
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ul.thumbs li {
	float: left;
	padding: 0;
	margin: 8px;
	list-style: none;
	height: 106px;
	width: 106px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.5);
}

ul.thumbs img {
	vertical-align: middle;
	max-width: 90px;
	max-height: 90px;
	position: relative;
	margin-left: -4px;;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}

#itemDescriptionContainer {
	float: left;
	margin-left: 50px;
	width: 440px;
}

#itemTitle {
	border-bottom: 2px solid #633b07;
}

#itemDescription {
	margin-top: 30px;
	font-size: 10pt;
	font-family: "OpenSansRegular", Arial;
	line-height: 120%;
}
/* --------------------------------------------- */
/* FORM -------------------------------------- */
.form-text-input {
	width: 300px;
	height: 25px;
	padding-left: 5px;
}

.form-text-input-s {
	width: 135px;
	height: 25px;
	padding-left: 5px;
}


.formdiv {
	display:block;
	margin-top: 10px;
	margin-bottom: 22px;
	overflow: auto;
}

	.formdiv p {
		font-family: "OpenSansRegular", Arial;
		font-size: 10pt;
		margin-bottom: 5px;
		padding-left: 1px;
	}
	
	.formdiv li {
		font-family: "OpenSansRegular", Arial;
		font-size: 10pt;
		margin-bottom: 10px;
		margin-top: 9px;
	}
	
.formdivcolumn {
	float:left;
}
	.formdivcolumn p{
		margin-top: 8px;
	}
	.formdivcolumn input[type="checkbox"]{
		margin-top: 8px;
	}

.form-button {
	border: 1px solid gray;
	width: 100px;
	height: 28px;
	background: #FFFFFF;
}
	.form-button:hover {
		border: 1px solid gray;
		background: #2d2d2d;
		color:#FFFFFF;
	}

#pback {
	float: right;
	/*color: gray;*/
	margin-top: 7px;
}
/* --------------------------------------------- */
/* LOGREG -------------------------------------- */
.logreg-div {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	overflow:hidden;
	border: 1px solid gray;
	margin: 50px 50px 80px 50px;
}

.logreg-div h2{
	font-size: 16pt;
}
.log-div, .reg-div{
	float: left;
	width: 320px;
	padding: 40px 80px 27px 40px;
	margin: 40px 0px 27px 40px;	
}
.log-div {
	border-right: 1px solid gray;
}
#logcheckbox, #logpcheckbox {
	float: right;
}


.logfiller {
	position: absolute;
	left: 50%;
	margin-left: -550px;
	width: 1100px;
	top: 50%;
	margin-top: -332px;
	height: 674px;
}


/* --------------------------------------------- */
/* --REGISTER----------------------------------- */
#street, #divstreet {
	width: 195px;
}

#divpcode {
	width: 70px;
	float: right;
}

#pcode {
	width: 58px;
}

.register-div {
	width: 312px;
	margin-top: 30px;
}
#lastname {
	float: right;
}

.regfiller {
	position: absolute;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	top: 50%;
	margin-top: -380px;
	height: 760px;
}
/* CART----------------------------------------- */
.product-row {
	height: auto;
   overflow: hidden;
}
	.product-row p {
		margin: 0 auto;
		text-align: center;
	}
#top-row {
	margin-top: 40px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}
	#top-row p {
		font-size: 10pt;
		width: 145px;
	}

#middle-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

	#middle-row p {
		font-size: 8pt;
		margin-top: 3px;
	}
	#middle-row input[type="text"] {
		height:10px;
		width: 20px;
		margin-left: 63px;
		text-align: center;
	}

.product-row  div{
	float: left;
}
.column-name{
	width: 300px;
}

.column-price{
	width: 200px;
}
.column-quantity{
	width: 150px;
}

.column-price-all{
	width: 200px;
}
.column-remove{
	width: 150px;
}
/* --------------------------------------------- */


