.bigdiv {
}
	/*========ROWS========*/
	.bigdiv .rowdiv {
		width: 1100px;
		
	}
	.bigdiv #topdiv, #botdiv {
		height: 43px;
	}
	.bigdiv #middiv {
	}
	/*===================*/
	/*====COLS-GENERAL===*/
	.rowdiv .rightdiv {
		float: right;
	}
	.rowdiv .leftdiv {
		float: right;
	}
	.rowdiv .centerdiv {
		float: right;
	}
	/*========MID=========*/
	 #midleftdiv {
		width: 37px;	
	}
	#midrightdiv {
		width: 42px;
	}
	#midcenterdiv {
		width: 1000px;
		background:  url(../../img/pat2.png) repeat;
	}
	/*====================*/

/* TEST */

#topdiv {
	background:  url(../../img/borders/toplogin.png) top no-repeat;
	margin-left: 8px;
}
#botdiv {
	background:  url(../../img/borders/botlogin.png) top no-repeat;
	margin-left: 8px;
}

#midrightdiv {
		background:  url(../../img/borders/right.png) left repeat-y;
}
#midleftdiv {
		background:  url(../../img/borders/left.png) left repeat-y;
}
