.bigdiv {
	position: absolute;
	left: 50%;
	margin-left: -550px;
	width: 1100px;
	top: 50%;
	margin-top: -200px;
	height: 80px;
	z-index: 2;
}
	/*========ROWS========*/
	.bigdiv .rowdiv {
		width: 1100px;
		
	}
	.bigdiv #topdiv, #botdiv {
		height: 43px;
	}
	.bigdiv #middiv {
		height: 80px;
	}
	/*===================*/
	/*====COLS-GENERAL===*/
	.rowdiv .rightdiv {
		float: right;
	}
	.rowdiv .leftdiv {
		float: right;
	}
	.rowdiv .centerdiv {
		float: right;
	}
	/*========MID=========*/
	 #midleftdiv {
		width: 37px;
		height: 80px;		
	}
	#midrightdiv {
		width: 42px;
		height: 80px;
	}
	#midcenterdiv {
		width: 1000px;
		height: 80px;
		background:  url(../../img/pat/pat2.png) repeat;
	}
	#midcenterdiv p{
	font-family: "Gabriola";
	font-size: 19pt;
	color: #C99C57;
	margin: 13px 0 0 20px;
	}
	#ret {
		float: right;
	}
	#ret2 {
		float: left;
	}
		#ret a, #ret2 a{
			color: gray;
		}
	/*====================*/

/* TEST */

#topdiv {
	background:  url(../../img/borders/toplogin.png) top no-repeat;
	margin-left: 8px;
}
#botdiv {
	background:  url(../../img/borders/botlogin.png) top no-repeat;
	margin-left: 8px;
}

#midrightdiv {
		background:  url(../../img/borders/right.png) left repeat-y;
}
#midleftdiv {
		background:  url(../../img/borders/left.png) left repeat-y;
}

